//! **************************************************************************
// Written by: Map P.20131013 on Fri Feb 13 10:25:30 2015
//! **************************************************************************

SCHEMATIC START;
COMP "CTS" LOCATE = SITE "M12" LEVEL 1;
COMP "RXD" LOCATE = SITE "A7" LEVEL 1;
COMP "RTS" LOCATE = SITE "A9" LEVEL 1;
COMP "TXD" LOCATE = SITE "B9" LEVEL 1;
COMP "LED1" LOCATE = SITE "C14" LEVEL 1;
COMP "PIN3" LOCATE = SITE "L14" LEVEL 1;
COMP "PIN4" LOCATE = SITE "N14" LEVEL 1;
COMP "LED2N" LOCATE = SITE "P6" LEVEL 1;
COMP "LED3N" LOCATE = SITE "P7" LEVEL 1;
COMP "CLOCK_40MHZ" LOCATE = SITE "M6" LEVEL 1;
NET "CLOCK_40MHZ_BUFGP/IBUFG" BEL "CLOCK_40MHZ_BUFGP/BUFG.GCLKMUX"
        USELOCALCONNECT;
PIN
        U_3/BU2/U0/blk_mem_generator/valid.cstr/ramloop[19].ram.r/s3_init.ram/dpram.dp1x1.ram.A_pins<15>
        = BEL
        "U_3/BU2/U0/blk_mem_generator/valid.cstr/ramloop[19].ram.r/s3_init.ram/dpram.dp1x1.ram.A"
        PINNAME CLKA;
PIN
        U_3/BU2/U0/blk_mem_generator/valid.cstr/ramloop[18].ram.r/s3_init.ram/dpram.dp1x1.ram.A_pins<15>
        = BEL
        "U_3/BU2/U0/blk_mem_generator/valid.cstr/ramloop[18].ram.r/s3_init.ram/dpram.dp1x1.ram.A"
        PINNAME CLKA;
PIN
        U_3/BU2/U0/blk_mem_generator/valid.cstr/ramloop[17].ram.r/s3_init.ram/dpram.dp2x2.ram.A_pins<14>
        = BEL
        "U_3/BU2/U0/blk_mem_generator/valid.cstr/ramloop[17].ram.r/s3_init.ram/dpram.dp2x2.ram.A"
        PINNAME CLKA;
PIN
        U_3/BU2/U0/blk_mem_generator/valid.cstr/ramloop[16].ram.r/s3_init.ram/dpram.dp1x1.ram.A_pins<15>
        = BEL
        "U_3/BU2/U0/blk_mem_generator/valid.cstr/ramloop[16].ram.r/s3_init.ram/dpram.dp1x1.ram.A"
        PINNAME CLKA;
PIN
        U_3/BU2/U0/blk_mem_generator/valid.cstr/ramloop[15].ram.r/s3_init.ram/dpram.dp1x1.ram.A_pins<15>
        = BEL
        "U_3/BU2/U0/blk_mem_generator/valid.cstr/ramloop[15].ram.r/s3_init.ram/dpram.dp1x1.ram.A"
        PINNAME CLKA;
PIN
        U_3/BU2/U0/blk_mem_generator/valid.cstr/ramloop[14].ram.r/s3_init.ram/dpram.dp1x1.ram.A_pins<15>
        = BEL
        "U_3/BU2/U0/blk_mem_generator/valid.cstr/ramloop[14].ram.r/s3_init.ram/dpram.dp1x1.ram.A"
        PINNAME CLKA;
PIN
        U_3/BU2/U0/blk_mem_generator/valid.cstr/ramloop[13].ram.r/s3_init.ram/dpram.dp1x1.ram.A_pins<15>
        = BEL
        "U_3/BU2/U0/blk_mem_generator/valid.cstr/ramloop[13].ram.r/s3_init.ram/dpram.dp1x1.ram.A"
        PINNAME CLKA;
PIN
        U_3/BU2/U0/blk_mem_generator/valid.cstr/ramloop[12].ram.r/s3_init.ram/dpram.dp2x2.ram.A_pins<14>
        = BEL
        "U_3/BU2/U0/blk_mem_generator/valid.cstr/ramloop[12].ram.r/s3_init.ram/dpram.dp2x2.ram.A"
        PINNAME CLKA;
PIN
        U_3/BU2/U0/blk_mem_generator/valid.cstr/ramloop[11].ram.r/s3_init.ram/dpram.dp1x1.ram.A_pins<15>
        = BEL
        "U_3/BU2/U0/blk_mem_generator/valid.cstr/ramloop[11].ram.r/s3_init.ram/dpram.dp1x1.ram.A"
        PINNAME CLKA;
PIN
        U_3/BU2/U0/blk_mem_generator/valid.cstr/ramloop[10].ram.r/s3_init.ram/dpram.dp1x1.ram.A_pins<15>
        = BEL
        "U_3/BU2/U0/blk_mem_generator/valid.cstr/ramloop[10].ram.r/s3_init.ram/dpram.dp1x1.ram.A"
        PINNAME CLKA;
PIN
        U_3/BU2/U0/blk_mem_generator/valid.cstr/ramloop[9].ram.r/s3_init.ram/dpram.dp1x1.ram.A_pins<15>
        = BEL
        "U_3/BU2/U0/blk_mem_generator/valid.cstr/ramloop[9].ram.r/s3_init.ram/dpram.dp1x1.ram.A"
        PINNAME CLKA;
PIN
        U_3/BU2/U0/blk_mem_generator/valid.cstr/ramloop[8].ram.r/s3_init.ram/dpram.dp1x1.ram.A_pins<15>
        = BEL
        "U_3/BU2/U0/blk_mem_generator/valid.cstr/ramloop[8].ram.r/s3_init.ram/dpram.dp1x1.ram.A"
        PINNAME CLKA;
PIN
        U_3/BU2/U0/blk_mem_generator/valid.cstr/ramloop[7].ram.r/s3_init.ram/dpram.dp2x2.ram.A_pins<14>
        = BEL
        "U_3/BU2/U0/blk_mem_generator/valid.cstr/ramloop[7].ram.r/s3_init.ram/dpram.dp2x2.ram.A"
        PINNAME CLKA;
PIN
        U_3/BU2/U0/blk_mem_generator/valid.cstr/ramloop[6].ram.r/s3_init.ram/dpram.dp1x1.ram.A_pins<15>
        = BEL
        "U_3/BU2/U0/blk_mem_generator/valid.cstr/ramloop[6].ram.r/s3_init.ram/dpram.dp1x1.ram.A"
        PINNAME CLKA;
PIN
        U_3/BU2/U0/blk_mem_generator/valid.cstr/ramloop[5].ram.r/s3_init.ram/dpram.dp1x1.ram.A_pins<15>
        = BEL
        "U_3/BU2/U0/blk_mem_generator/valid.cstr/ramloop[5].ram.r/s3_init.ram/dpram.dp1x1.ram.A"
        PINNAME CLKA;
PIN
        U_3/BU2/U0/blk_mem_generator/valid.cstr/ramloop[4].ram.r/s3_init.ram/dpram.dp1x1.ram.A_pins<15>
        = BEL
        "U_3/BU2/U0/blk_mem_generator/valid.cstr/ramloop[4].ram.r/s3_init.ram/dpram.dp1x1.ram.A"
        PINNAME CLKA;
PIN
        U_3/BU2/U0/blk_mem_generator/valid.cstr/ramloop[3].ram.r/s3_init.ram/dpram.dp1x1.ram.A_pins<15>
        = BEL
        "U_3/BU2/U0/blk_mem_generator/valid.cstr/ramloop[3].ram.r/s3_init.ram/dpram.dp1x1.ram.A"
        PINNAME CLKA;
PIN
        U_3/BU2/U0/blk_mem_generator/valid.cstr/ramloop[2].ram.r/s3_init.ram/dpram.dp2x2.ram.A_pins<14>
        = BEL
        "U_3/BU2/U0/blk_mem_generator/valid.cstr/ramloop[2].ram.r/s3_init.ram/dpram.dp2x2.ram.A"
        PINNAME CLKA;
PIN
        U_3/BU2/U0/blk_mem_generator/valid.cstr/ramloop[1].ram.r/s3_init.ram/dpram.dp1x1.ram.A_pins<15>
        = BEL
        "U_3/BU2/U0/blk_mem_generator/valid.cstr/ramloop[1].ram.r/s3_init.ram/dpram.dp1x1.ram.A"
        PINNAME CLKA;
PIN
        U_3/BU2/U0/blk_mem_generator/valid.cstr/ramloop[0].ram.r/s3_init.ram/dpram.dp1x1.ram.A_pins<15>
        = BEL
        "U_3/BU2/U0/blk_mem_generator/valid.cstr/ramloop[0].ram.r/s3_init.ram/dpram.dp1x1.ram.A"
        PINNAME CLKA;
TIMEGRP CLOCK_40MHZ = BEL "U_1/reset" BEL "U_1/resoutn" BEL
        "U_1/cpuproc/passcnt_0" BEL "U_1/cpuproc/passcnt_1" BEL
        "U_1/cpuproc/passcnt_2" BEL "U_1/cpuproc/passcnt_3" BEL
        "U_1/cpuproc/passcnt_4" BEL "U_1/cpuproc/passcnt_5" BEL
        "U_1/cpuproc/passcnt_6" BEL "U_1/cpuproc/passcnt_7" BEL
        "U_1/cpuproc/current_state_FSM_FFd6" BEL
        "U_1/cpuproc/current_state_FSM_FFd5" BEL
        "U_1/cpuproc/current_state_FSM_FFd7" BEL
        "U_1/cpuproc/current_state_FSM_FFd4" BEL
        "U_1/cpuproc/current_state_FSM_FFd3" BEL
        "U_1/cpuproc/current_state_FSM_FFd2" BEL
        "U_1/cpuproc/current_state_FSM_FFd1" BEL
        "U_1/cpuproc/wrpathl_s.wrtemp" BEL "U_1/cpuproc/path.ea_output_9" BEL
        "U_1/cpuproc/path.ea_output_8" BEL "U_1/cpuproc/path.ea_output_7" BEL
        "U_1/cpuproc/path.ea_output_6" BEL "U_1/cpuproc/path.ea_output_5" BEL
        "U_1/cpuproc/path.ea_output_4" BEL "U_1/cpuproc/path.ea_output_3" BEL
        "U_1/cpuproc/path.ea_output_2" BEL "U_1/cpuproc/path.ea_output_1" BEL
        "U_1/cpuproc/path.ea_output_0" BEL "U_1/cpuproc/wrpathl_s.wrop" BEL
        "U_1/cpuproc/irq_blocked" BEL "U_1/cpuproc/wrpathl_s.wralu" BEL
        "U_1/cpuproc/wrpathl_s.wrip" BEL "U_1/cpuproc/path.dbus_output_1" BEL
        "U_1/cpuproc/path.dbus_output_0" BEL "U_1/cpuproc/wrpathl_s.wrcc" BEL
        "U_1/cpuproc/path.segreg_input_3" BEL
        "U_1/cpuproc/path.segreg_input_2" BEL
        "U_1/cpuproc/path.segreg_input_1" BEL
        "U_1/cpuproc/path.segreg_input_0" BEL "U_1/cpuproc/wrpathl_s.wrs" BEL
        "U_1/cpuproc/path.alu_operation_14" BEL
        "U_1/cpuproc/path.alu_operation_13" BEL
        "U_1/cpuproc/path.alu_operation_12" BEL
        "U_1/cpuproc/path.alu_operation_11" BEL
        "U_1/cpuproc/path.alu_operation_10" BEL
        "U_1/cpuproc/path.alu_operation_9" BEL
        "U_1/cpuproc/path.alu_operation_8" BEL
        "U_1/cpuproc/path.alu_operation_7" BEL
        "U_1/cpuproc/path.alu_operation_6" BEL
        "U_1/cpuproc/path.alu_operation_5" BEL
        "U_1/cpuproc/path.alu_operation_4" BEL
        "U_1/cpuproc/path.alu_operation_3" BEL
        "U_1/cpuproc/path.alu_operation_2" BEL
        "U_1/cpuproc/path.alu_operation_1" BEL
        "U_1/cpuproc/path.alu_operation_0" BEL "U_1/cpuproc/wrpathl_s.wrd" BEL
        "U_1/cpuproc/path.datareg_input_6" BEL
        "U_1/cpuproc/path.datareg_input_5" BEL
        "U_1/cpuproc/path.datareg_input_4" BEL
        "U_1/cpuproc/path.datareg_input_3" BEL
        "U_1/cpuproc/path.datareg_input_2" BEL
        "U_1/cpuproc/path.datareg_input_1" BEL
        "U_1/cpuproc/path.datareg_input_0" BEL "U_1/cpuproc/second_pass" BEL
        "U_1/cpuproc/rep_flag" BEL "U_1/cpuproc/rep_zl_s" BEL
        "U_1/cpuproc/flush_reql_s" BEL "U_1/cpuproc/iomem" BEL
        "U_1/cpuproc/flush_coming" BEL "U_1/cpubiu/shift/reg72_s_45" BEL
        "U_1/cpubiu/shift/rm_s_0" BEL "U_1/cpubiu/shift/rm_s_1" BEL
        "U_1/cpubiu/shift/rm_s_2" BEL "U_1/cpubiu/shift/reg72_s_50" BEL
        "U_1/cpubiu/shift/reg72_s_47" BEL "U_1/cpubiu/shift/reg72_s_51" BEL
        "U_1/cpubiu/shift/reg72_s_46" BEL "U_1/cpubiu/shift/reg72_s_53" BEL
        "U_1/cpubiu/shift/reg72_s_52" BEL "U_1/cpubiu/shift/reg72_s_0" BEL
        "U_1/cpubiu/shift/reg72_s_48" BEL "U_1/cpubiu/shift/reg72_s_1" BEL
        "U_1/cpubiu/shift/reg72_s_2" BEL "U_1/cpubiu/shift/reg72_s_54" BEL
        "U_1/cpubiu/shift/reg72_s_49" BEL "U_1/cpubiu/shift/reg72_s_3" BEL
        "U_1/cpubiu/shift/reg72_s_60" BEL "U_1/cpubiu/shift/reg72_s_55" BEL
        "U_1/cpubiu/shift/reg72_s_4" BEL "U_1/cpubiu/shift/reg72_s_61" BEL
        "U_1/cpubiu/shift/reg72_s_56" BEL "U_1/cpubiu/shift/reg72_s_62" BEL
        "U_1/cpubiu/shift/reg72_s_57" BEL "U_1/cpubiu/shift/reg72_s_58" BEL
        "U_1/cpubiu/shift/reg72_s_5" BEL "U_1/cpubiu/shift/reg72_s_63" BEL
        "U_1/cpubiu/shift/reg72_s_64" BEL "U_1/cpubiu/shift/ldpos_s_0" BEL
        "U_1/cpubiu/shift/ldpos_s_1" BEL "U_1/cpubiu/shift/ldpos_s_2" BEL
        "U_1/cpubiu/shift/ldpos_s_3" BEL "U_1/cpubiu/shift/reg72_s_6" BEL
        "U_1/cpubiu/shift/reg72_s_70" BEL "U_1/cpubiu/shift/reg72_s_59" BEL
        "U_1/cpubiu/shift/reg72_s_7" BEL "U_1/cpubiu/shift/reg72_s_65" BEL
        "U_1/cpubiu/shift/reg72_s_8" BEL "U_1/cpubiu/shift/reg72_s_9" BEL
        "U_1/cpubiu/shift/reg72_s_71" BEL "U_1/cpubiu/shift/reg72_s_66" BEL
        "U_1/cpubiu/shift/reg72_s_68" BEL "U_1/cpubiu/shift/reg72_s_67" BEL
        "U_1/cpubiu/shift/reg72_s_10" BEL "U_1/cpubiu/shift/reg72_s_69" BEL
        "U_1/cpubiu/shift/reg1freed" BEL "U_1/cpubiu/shift/reg72_s_11" BEL
        "U_1/cpubiu/shift/reg72_s_14" BEL "U_1/cpubiu/shift/reg72_s_12" BEL
        "U_1/cpubiu/shift/reg72_s_13" BEL "U_1/cpubiu/shift/reg72_s_21" BEL
        "U_1/cpubiu/shift/reg72_s_20" BEL "U_1/cpubiu/shift/reg72_s_15" BEL
        "U_1/cpubiu/shift/reg72_s_17" BEL "U_1/cpubiu/shift/reg72_s_16" BEL
        "U_1/cpubiu/shift/opcaddr_s_0" BEL "U_1/cpubiu/shift/opcaddr_s_1" BEL
        "U_1/cpubiu/shift/opcaddr_s_2" BEL "U_1/cpubiu/shift/opcaddr_s_3" BEL
        "U_1/cpubiu/shift/opcaddr_s_4" BEL "U_1/cpubiu/shift/opcaddr_s_5" BEL
        "U_1/cpubiu/shift/opcaddr_s_6" BEL "U_1/cpubiu/shift/opcaddr_s_7" BEL
        "U_1/cpubiu/shift/opcaddr_s_8" BEL "U_1/cpubiu/shift/opcaddr_s_9" BEL
        "U_1/cpubiu/shift/opcaddr_s_10" BEL "U_1/cpubiu/shift/opcaddr_s_11"
        BEL "U_1/cpubiu/shift/opcaddr_s_12" BEL
        "U_1/cpubiu/shift/opcaddr_s_13" BEL "U_1/cpubiu/shift/opcaddr_s_14"
        BEL "U_1/cpubiu/shift/opcaddr_s_15" BEL "U_1/cpubiu/shift/reg72_s_22"
        BEL "U_1/cpubiu/shift/reg72_s_23" BEL "U_1/cpubiu/shift/reg72_s_18"
        BEL "U_1/cpubiu/shift/reg72_s_30" BEL "U_1/cpubiu/shift/reg72_s_24"
        BEL "U_1/cpubiu/shift/reg72_s_19" BEL "U_1/cpubiu/shift/reg72_s_26"
        BEL "U_1/cpubiu/shift/reg72_s_25" BEL "U_1/cpubiu/shift/reg72_s_31"
        BEL "U_1/cpubiu/shift/reg72_s_32" BEL "U_1/cpubiu/shift/reg72_s_27"
        BEL "U_1/cpubiu/shift/reg72_s_33" BEL "U_1/cpubiu/shift/reg72_s_28"
        BEL "U_1/cpubiu/shift/reg72_s_29" BEL "U_1/cpubiu/shift/regcnt_s_0"
        BEL "U_1/cpubiu/shift/regcnt_s_1" BEL "U_1/cpubiu/shift/regcnt_s_2"
        BEL "U_1/cpubiu/shift/regcnt_s_3" BEL "U_1/cpubiu/shift/reg72_s_34"
        BEL "U_1/cpubiu/shift/reg72_s_35" BEL "U_1/cpubiu/shift/mod_s_0" BEL
        "U_1/cpubiu/shift/mod_s_1" BEL "U_1/cpubiu/shift/reg72_s_40" BEL
        "U_1/cpubiu/shift/reg72_s_41" BEL "U_1/cpubiu/shift/reg72_s_36" BEL
        "U_1/cpubiu/shift/reg72_s_43" BEL "U_1/cpubiu/shift/reg72_s_42" BEL
        "U_1/cpubiu/shift/reg72_s_37" BEL "U_1/cpubiu/shift/reg72_s_39" BEL
        "U_1/cpubiu/shift/reg72_s_38" BEL "U_1/cpubiu/shift/reg72_s_44" BEL
        "U_1/cpubiu/shift/flush_req2_s" BEL "U_1/cpubiu/shift/opcreg_s_0" BEL
        "U_1/cpubiu/shift/opcreg_s_1" BEL "U_1/cpubiu/shift/opcreg_s_2" BEL
        "U_1/cpubiu/shift/opcdata_s_0" BEL "U_1/cpubiu/shift/opcdata_s_1" BEL
        "U_1/cpubiu/shift/opcdata_s_2" BEL "U_1/cpubiu/shift/opcdata_s_3" BEL
        "U_1/cpubiu/shift/opcdata_s_4" BEL "U_1/cpubiu/shift/opcdata_s_5" BEL
        "U_1/cpubiu/shift/opcdata_s_6" BEL "U_1/cpubiu/shift/opcdata_s_7" BEL
        "U_1/cpubiu/shift/opcdata_s_8" BEL "U_1/cpubiu/shift/opcdata_s_9" BEL
        "U_1/cpubiu/shift/opcdata_s_10" BEL "U_1/cpubiu/shift/opcdata_s_11"
        BEL "U_1/cpubiu/shift/opcdata_s_12" BEL
        "U_1/cpubiu/shift/opcdata_s_13" BEL "U_1/cpubiu/shift/opcdata_s_14"
        BEL "U_1/cpubiu/shift/opcdata_s_15" BEL "U_1/cpubiu/shift/nbreq_s_1"
        BEL "U_1/cpubiu/shift/nbreq_s_0" BEL "U_1/cpubiu/shift/nbreq_s_2" BEL
        "U_1/cpubiu/shift/ireg_s_7" BEL "U_1/cpubiu/shift/ireg_s_6" BEL
        "U_1/cpubiu/shift/ireg_s_5" BEL "U_1/cpubiu/shift/ireg_s_4" BEL
        "U_1/cpubiu/shift/ireg_s_3" BEL "U_1/cpubiu/shift/ireg_s_2" BEL
        "U_1/cpubiu/shift/ireg_s_1" BEL "U_1/cpubiu/shift/ireg_s_0" BEL
        "U_1/cpubiu/fsm/ws_s_0" BEL "U_1/cpubiu/fsm/ws_s_1" BEL
        "U_1/cpubiu/fsm/ws_s_2" BEL "U_1/cpubiu/fsm/oddflag_s" BEL
        "U_1/cpubiu/fsm/biu_error" BEL "U_1/cpubiu/fsm/current_state_FSM_FFd3"
        BEL "U_1/cpubiu/fsm/current_state_FSM_FFd6" BEL
        "U_1/cpubiu/fsm/current_state_FSM_FFd5" BEL
        "U_1/cpubiu/fsm/current_state_FSM_FFd7" BEL
        "U_1/cpubiu/fsm/current_state_FSM_FFd8" BEL
        "U_1/cpubiu/fsm/current_state_FSM_FFd10" BEL
        "U_1/cpubiu/fsm/current_state_FSM_FFd11" BEL
        "U_1/cpubiu/fsm/current_state_FSM_FFd14" BEL
        "U_1/cpubiu/fsm/current_state_FSM_FFd12" BEL
        "U_1/cpubiu/fsm/current_state_FSM_FFd13" BEL
        "U_1/cpubiu/fsm/current_state_FSM_FFd17" BEL
        "U_1/cpubiu/fsm/current_state_FSM_FFd15" BEL
        "U_1/cpubiu/fsm/current_state_FSM_FFd16" BEL
        "U_1/cpubiu/fsm/current_state_FSM_FFd20" BEL
        "U_1/cpubiu/fsm/current_state_FSM_FFd18" BEL
        "U_1/cpubiu/fsm/current_state_FSM_FFd19" BEL
        "U_1/cpubiu/fsm/current_state_FSM_FFd21" BEL
        "U_1/cpubiu/fsm/current_state_FSM_FFd22" BEL
        "U_1/cpubiu/fsm/current_state_FSM_FFd2" BEL
        "U_1/cpubiu/fsm/current_state_FSM_FFd4" BEL
        "U_1/cpubiu/fsm/current_state_FSM_FFd9" BEL
        "U_1/cpubiu/fsm/current_state_FSM_FFd1" BEL "U_1/cpubiu/abus_2" BEL
        "U_1/cpubiu/abus_0" BEL "U_1/cpubiu/abus_1" BEL "U_1/cpubiu/abus_3"
        BEL "U_1/cpubiu/abus_4" BEL "U_1/cpubiu/abus_7" BEL
        "U_1/cpubiu/abus_5" BEL "U_1/cpubiu/abus_6" BEL "U_1/cpubiu/abus_8"
        BEL "U_1/cpubiu/abus_9" BEL "U_1/cpubiu/abus_12" BEL
        "U_1/cpubiu/abus_10" BEL "U_1/cpubiu/abus_11" BEL "U_1/cpubiu/abus_13"
        BEL "U_1/cpubiu/abus_14" BEL "U_1/cpubiu/abus_17" BEL
        "U_1/cpubiu/abus_15" BEL "U_1/cpubiu/abus_16" BEL "U_1/cpubiu/abus_18"
        BEL "U_1/cpubiu/abus_19" BEL "U_1/cpubiu/ipbusbiu_s_15" BEL
        "U_1/cpubiu/ipbusbiu_s_14" BEL "U_1/cpubiu/ipbusbiu_s_13" BEL
        "U_1/cpubiu/ipbusbiu_s_12" BEL "U_1/cpubiu/ipbusbiu_s_11" BEL
        "U_1/cpubiu/ipbusbiu_s_10" BEL "U_1/cpubiu/ipbusbiu_s_9" BEL
        "U_1/cpubiu/ipbusbiu_s_8" BEL "U_1/cpubiu/ipbusbiu_s_7" BEL
        "U_1/cpubiu/ipbusbiu_s_6" BEL "U_1/cpubiu/ipbusbiu_s_5" BEL
        "U_1/cpubiu/ipbusbiu_s_4" BEL "U_1/cpubiu/ipbusbiu_s_3" BEL
        "U_1/cpubiu/ipbusbiu_s_2" BEL "U_1/cpubiu/ipbusbiu_s_1" BEL
        "U_1/cpubiu/ipbusbiu_s_0" BEL "U_1/cpubiu/wrn" BEL
        "U_1/cpubiu/latchclr_d_s" BEL "U_1/cpubiu/dbus_out_7" BEL
        "U_1/cpubiu/dbus_out_6" BEL "U_1/cpubiu/dbus_out_5" BEL
        "U_1/cpubiu/dbus_out_4" BEL "U_1/cpubiu/dbus_out_3" BEL
        "U_1/cpubiu/dbus_out_2" BEL "U_1/cpubiu/dbus_out_1" BEL
        "U_1/cpubiu/dbus_out_0" BEL "U_1/cpubiu/latchrw_d_s" BEL
        "U_1/cpubiu/irq_type_0" BEL "U_1/cpubiu/rdn" BEL
        "U_1/cpubiu/w_biufsm_s" BEL "U_1/cpubiu/mdbus_out_9" BEL
        "U_1/cpubiu/mdbus_out_8" BEL "U_1/cpubiu/mdbus_out_7" BEL
        "U_1/cpubiu/mdbus_out_5" BEL "U_1/cpubiu/mdbus_out_6" BEL
        "U_1/cpubiu/mdbus_out_4" BEL "U_1/cpubiu/latchmd_s" BEL
        "U_1/cpubiu/mdbus_out_2" BEL "U_1/cpubiu/instr_trace_s" BEL
        "U_1/cpubiu/mdbus_out_3" BEL "U_1/cpubiu/mdbus_out_0" BEL
        "U_1/cpubiu/mdbus_out_1" BEL "U_1/cpubiu/csbusbiu_s_15" BEL
        "U_1/cpubiu/csbusbiu_s_14" BEL "U_1/cpubiu/csbusbiu_s_13" BEL
        "U_1/cpubiu/csbusbiu_s_12" BEL "U_1/cpubiu/csbusbiu_s_11" BEL
        "U_1/cpubiu/csbusbiu_s_10" BEL "U_1/cpubiu/csbusbiu_s_9" BEL
        "U_1/cpubiu/csbusbiu_s_8" BEL "U_1/cpubiu/csbusbiu_s_7" BEL
        "U_1/cpubiu/csbusbiu_s_6" BEL "U_1/cpubiu/csbusbiu_s_5" BEL
        "U_1/cpubiu/csbusbiu_s_4" BEL "U_1/cpubiu/csbusbiu_s_3" BEL
        "U_1/cpubiu/csbusbiu_s_2" BEL "U_1/cpubiu/csbusbiu_s_1" BEL
        "U_1/cpubiu/csbusbiu_s_0" BEL "U_1/cpubiu/mdbus_out_15" BEL
        "U_1/cpubiu/mdbus_out_13" BEL "U_1/cpubiu/mdbus_out_12" BEL
        "U_1/cpubiu/mdbus_out_14" BEL "U_1/cpubiu/mdbus_out_11" BEL
        "U_1/cpubiu/irq_req_internal" BEL "U_1/cpubiu/mdbus_out_10" BEL
        "U_1/cpubiu/iom_s" BEL "U_1/cpudpath/I6/psrreg_s_6" BEL
        "U_1/cpudpath/I6/psrreg_s_9" BEL "U_1/cpudpath/I6/psrreg_s_7" BEL
        "U_1/cpudpath/I6/psrreg_s_8" BEL "U_1/cpudpath/I6/div_err" BEL
        "U_1/cpudpath/I6/wl_s" BEL "U_1/cpudpath/I6/startdiv_s" BEL
        "U_1/cpudpath/I6/alucout_s" BEL "U_1/cpudpath/I6/alureg_s_0" BEL
        "U_1/cpudpath/I6/alureg_s_10" BEL "U_1/cpudpath/I6/alureg_s_11" BEL
        "U_1/cpudpath/I6/alureg_s_13" BEL "U_1/cpudpath/I6/alureg_s_12" BEL
        "U_1/cpudpath/I6/alureg_s_1" BEL "U_1/cpudpath/I6/alureg_s_3" BEL
        "U_1/cpudpath/I6/alureg_s_2" BEL "U_1/cpudpath/I6/alureg_s_14" BEL
        "U_1/cpudpath/I6/alureg_s_20" BEL "U_1/cpudpath/I6/alureg_s_4" BEL
        "U_1/cpudpath/I6/alureg_s_5" BEL "U_1/cpudpath/I6/alureg_s_15" BEL
        "U_1/cpudpath/I6/alureg_s_21" BEL "U_1/cpudpath/I6/alureg_s_6" BEL
        "U_1/cpudpath/I6/alureg_s_16" BEL "U_1/cpudpath/I6/alureg_s_22" BEL
        "U_1/cpudpath/I6/psrreg_s_10" BEL "U_1/cpudpath/I6/alureg_s_17" BEL
        "U_1/cpudpath/I6/alu_temp_s_0" BEL "U_1/cpudpath/I6/alu_temp_s_1" BEL
        "U_1/cpudpath/I6/alu_temp_s_2" BEL "U_1/cpudpath/I6/alu_temp_s_3" BEL
        "U_1/cpudpath/I6/alu_temp_s_4" BEL "U_1/cpudpath/I6/alu_temp_s_5" BEL
        "U_1/cpudpath/I6/alu_temp_s_6" BEL "U_1/cpudpath/I6/alu_temp_s_7" BEL
        "U_1/cpudpath/I6/alu_temp_s_8" BEL "U_1/cpudpath/I6/alu_temp_s_9" BEL
        "U_1/cpudpath/I6/alu_temp_s_10" BEL "U_1/cpudpath/I6/alu_temp_s_11"
        BEL "U_1/cpudpath/I6/alu_temp_s_12" BEL
        "U_1/cpudpath/I6/alu_temp_s_13" BEL "U_1/cpudpath/I6/alu_temp_s_14"
        BEL "U_1/cpudpath/I6/alu_temp_s_15" BEL "U_1/cpudpath/I6/alureg_s_7"
        BEL "U_1/cpudpath/I6/alureg_s_18" BEL "U_1/cpudpath/I6/alureg_s_24"
        BEL "U_1/cpudpath/I6/alureg_s_23" BEL "U_1/cpudpath/I6/psrreg_s_11"
        BEL "U_1/cpudpath/I6/alureg_s_8" BEL "U_1/cpudpath/I6/alureg_s_19" BEL
        "U_1/cpudpath/I6/alureg_s_25" BEL "U_1/cpudpath/I6/alureg_s_30" BEL
        "U_1/cpudpath/I6/alureg_s_9" BEL "U_1/cpudpath/I6/psrreg_s_0" BEL
        "U_1/cpudpath/I6/alureg_s_26" BEL "U_1/cpudpath/I6/alureg_s_27" BEL
        "U_1/cpudpath/I6/alureg_s_31" BEL "U_1/cpudpath/I6/psrreg_s_1" BEL
        "U_1/cpudpath/I6/psrreg_s_3" BEL "U_1/cpudpath/I6/psrreg_s_2" BEL
        "U_1/cpudpath/I6/alureg_s_28" BEL "U_1/cpudpath/I6/psrreg_s_5" BEL
        "U_1/cpudpath/I6/alureg_s_29" BEL "U_1/cpudpath/I6/psrreg_s_4" BEL
        "U_1/cpudpath/I6/divresult_s_0" BEL "U_1/cpudpath/I6/divresult_s_1"
        BEL "U_1/cpudpath/I6/divresult_s_2" BEL
        "U_1/cpudpath/I6/divresult_s_3" BEL "U_1/cpudpath/I6/divresult_s_4"
        BEL "U_1/cpudpath/I6/divresult_s_5" BEL
        "U_1/cpudpath/I6/divresult_s_6" BEL "U_1/cpudpath/I6/divresult_s_7"
        BEL "U_1/cpudpath/I6/divresult_s_8" BEL
        "U_1/cpudpath/I6/divresult_s_9" BEL "U_1/cpudpath/I6/divresult_s_10"
        BEL "U_1/cpudpath/I6/divresult_s_11" BEL
        "U_1/cpudpath/I6/divresult_s_12" BEL "U_1/cpudpath/I6/divresult_s_13"
        BEL "U_1/cpudpath/I6/divresult_s_14" BEL
        "U_1/cpudpath/I6/divresult_s_15" BEL "U_1/cpudpath/I6/divresult_s_16"
        BEL "U_1/cpudpath/I6/divresult_s_17" BEL
        "U_1/cpudpath/I6/divresult_s_18" BEL "U_1/cpudpath/I6/divresult_s_19"
        BEL "U_1/cpudpath/I6/divresult_s_20" BEL
        "U_1/cpudpath/I6/divresult_s_21" BEL "U_1/cpudpath/I6/divresult_s_22"
        BEL "U_1/cpudpath/I6/divresult_s_23" BEL
        "U_1/cpudpath/I6/divresult_s_24" BEL "U_1/cpudpath/I6/divresult_s_25"
        BEL "U_1/cpudpath/I6/divresult_s_26" BEL
        "U_1/cpudpath/I6/divresult_s_27" BEL "U_1/cpudpath/I6/divresult_s_28"
        BEL "U_1/cpudpath/I6/divresult_s_29" BEL
        "U_1/cpudpath/I6/divresult_s_30" BEL "U_1/cpudpath/I6/divresult_s_31"
        BEL "U_1/cpudpath/I6/ALUU1/count_s_3" BEL
        "U_1/cpudpath/I6/ALUU1/count_s_2" BEL
        "U_1/cpudpath/I6/ALUU1/count_s_1" BEL
        "U_1/cpudpath/I6/ALUU1/count_s_0" BEL
        "U_1/cpudpath/I6/ALUU1/state_FSM_FFd2" BEL
        "U_1/cpudpath/I6/ALUU1/state_FSM_FFd1" BEL
        "U_1/cpudpath/I6/ALUU1/accumulator_s_32" BEL
        "U_1/cpudpath/I6/ALUU1/accumulator_s_31" BEL
        "U_1/cpudpath/I6/ALUU1/accumulator_s_30" BEL
        "U_1/cpudpath/I6/ALUU1/accumulator_s_29" BEL
        "U_1/cpudpath/I6/ALUU1/accumulator_s_28" BEL
        "U_1/cpudpath/I6/ALUU1/accumulator_s_27" BEL
        "U_1/cpudpath/I6/ALUU1/accumulator_s_26" BEL
        "U_1/cpudpath/I6/ALUU1/accumulator_s_25" BEL
        "U_1/cpudpath/I6/ALUU1/accumulator_s_24" BEL
        "U_1/cpudpath/I6/ALUU1/accumulator_s_23" BEL
        "U_1/cpudpath/I6/ALUU1/accumulator_s_22" BEL
        "U_1/cpudpath/I6/ALUU1/accumulator_s_21" BEL
        "U_1/cpudpath/I6/ALUU1/accumulator_s_20" BEL
        "U_1/cpudpath/I6/ALUU1/accumulator_s_19" BEL
        "U_1/cpudpath/I6/ALUU1/accumulator_s_18" BEL
        "U_1/cpudpath/I6/ALUU1/accumulator_s_17" BEL
        "U_1/cpudpath/I6/ALUU1/accumulator_s_16" BEL
        "U_1/cpudpath/I6/ALUU1/accumulator_s_15" BEL
        "U_1/cpudpath/I6/ALUU1/accumulator_s_14" BEL
        "U_1/cpudpath/I6/ALUU1/accumulator_s_13" BEL
        "U_1/cpudpath/I6/ALUU1/accumulator_s_12" BEL
        "U_1/cpudpath/I6/ALUU1/accumulator_s_11" BEL
        "U_1/cpudpath/I6/ALUU1/accumulator_s_10" BEL
        "U_1/cpudpath/I6/ALUU1/accumulator_s_9" BEL
        "U_1/cpudpath/I6/ALUU1/accumulator_s_8" BEL
        "U_1/cpudpath/I6/ALUU1/accumulator_s_7" BEL
        "U_1/cpudpath/I6/ALUU1/accumulator_s_6" BEL
        "U_1/cpudpath/I6/ALUU1/accumulator_s_5" BEL
        "U_1/cpudpath/I6/ALUU1/accumulator_s_4" BEL
        "U_1/cpudpath/I6/ALUU1/accumulator_s_3" BEL
        "U_1/cpudpath/I6/ALUU1/accumulator_s_2" BEL
        "U_1/cpudpath/I6/ALUU1/accumulator_s_1" BEL
        "U_1/cpudpath/I6/ALUU1/accumulator_s_0" BEL
        "U_1/cpudpath/I15/ssreg_s_0" BEL "U_1/cpudpath/I15/ssreg_s_1" BEL
        "U_1/cpudpath/I15/ssreg_s_2" BEL "U_1/cpudpath/I15/ssreg_s_3" BEL
        "U_1/cpudpath/I15/ssreg_s_4" BEL "U_1/cpudpath/I15/ssreg_s_5" BEL
        "U_1/cpudpath/I15/ssreg_s_6" BEL "U_1/cpudpath/I15/ssreg_s_7" BEL
        "U_1/cpudpath/I15/ssreg_s_8" BEL "U_1/cpudpath/I15/ssreg_s_9" BEL
        "U_1/cpudpath/I15/ssreg_s_10" BEL "U_1/cpudpath/I15/ssreg_s_11" BEL
        "U_1/cpudpath/I15/ssreg_s_12" BEL "U_1/cpudpath/I15/ssreg_s_13" BEL
        "U_1/cpudpath/I15/ssreg_s_14" BEL "U_1/cpudpath/I15/ssreg_s_15" BEL
        "U_1/cpudpath/I15/esreg_s_0" BEL "U_1/cpudpath/I15/esreg_s_1" BEL
        "U_1/cpudpath/I15/esreg_s_2" BEL "U_1/cpudpath/I15/esreg_s_3" BEL
        "U_1/cpudpath/I15/esreg_s_4" BEL "U_1/cpudpath/I15/esreg_s_5" BEL
        "U_1/cpudpath/I15/esreg_s_6" BEL "U_1/cpudpath/I15/esreg_s_7" BEL
        "U_1/cpudpath/I15/esreg_s_8" BEL "U_1/cpudpath/I15/esreg_s_9" BEL
        "U_1/cpudpath/I15/esreg_s_10" BEL "U_1/cpudpath/I15/esreg_s_11" BEL
        "U_1/cpudpath/I15/esreg_s_12" BEL "U_1/cpudpath/I15/esreg_s_13" BEL
        "U_1/cpudpath/I15/esreg_s_14" BEL "U_1/cpudpath/I15/esreg_s_15" BEL
        "U_1/cpudpath/I15/dsreg_s_0" BEL "U_1/cpudpath/I15/dsreg_s_1" BEL
        "U_1/cpudpath/I15/dsreg_s_2" BEL "U_1/cpudpath/I15/dsreg_s_3" BEL
        "U_1/cpudpath/I15/dsreg_s_4" BEL "U_1/cpudpath/I15/dsreg_s_5" BEL
        "U_1/cpudpath/I15/dsreg_s_6" BEL "U_1/cpudpath/I15/dsreg_s_7" BEL
        "U_1/cpudpath/I15/dsreg_s_8" BEL "U_1/cpudpath/I15/dsreg_s_9" BEL
        "U_1/cpudpath/I15/dsreg_s_10" BEL "U_1/cpudpath/I15/dsreg_s_11" BEL
        "U_1/cpudpath/I15/dsreg_s_12" BEL "U_1/cpudpath/I15/dsreg_s_13" BEL
        "U_1/cpudpath/I15/dsreg_s_14" BEL "U_1/cpudpath/I15/dsreg_s_15" BEL
        "U_1/cpudpath/I15/csreg_s_0" BEL "U_1/cpudpath/I15/csreg_s_1" BEL
        "U_1/cpudpath/I15/csreg_s_2" BEL "U_1/cpudpath/I15/csreg_s_3" BEL
        "U_1/cpudpath/I15/csreg_s_4" BEL "U_1/cpudpath/I15/csreg_s_5" BEL
        "U_1/cpudpath/I15/csreg_s_6" BEL "U_1/cpudpath/I15/csreg_s_7" BEL
        "U_1/cpudpath/I15/csreg_s_8" BEL "U_1/cpudpath/I15/csreg_s_9" BEL
        "U_1/cpudpath/I15/csreg_s_10" BEL "U_1/cpudpath/I15/csreg_s_11" BEL
        "U_1/cpudpath/I15/csreg_s_12" BEL "U_1/cpudpath/I15/csreg_s_13" BEL
        "U_1/cpudpath/I15/csreg_s_14" BEL "U_1/cpudpath/I15/csreg_s_15" BEL
        "U_1/cpudpath/I9/ipreg_s_0" BEL "U_1/cpudpath/I9/ipreg_s_1" BEL
        "U_1/cpudpath/I9/ipreg_s_2" BEL "U_1/cpudpath/I9/ipreg_s_3" BEL
        "U_1/cpudpath/I9/ipreg_s_4" BEL "U_1/cpudpath/I9/ipreg_s_5" BEL
        "U_1/cpudpath/I9/ipreg_s_6" BEL "U_1/cpudpath/I9/ipreg_s_7" BEL
        "U_1/cpudpath/I9/ipreg_s_8" BEL "U_1/cpudpath/I9/ipreg_s_9" BEL
        "U_1/cpudpath/I9/ipreg_s_10" BEL "U_1/cpudpath/I9/ipreg_s_11" BEL
        "U_1/cpudpath/I9/ipreg_s_12" BEL "U_1/cpudpath/I9/ipreg_s_13" BEL
        "U_1/cpudpath/I9/ipreg_s_14" BEL "U_1/cpudpath/I9/ipreg_s_15" BEL
        "U_1/cpudpath/I0/dxreg_s_6" BEL "U_1/cpudpath/I0/dxreg_s_4" BEL
        "U_1/cpudpath/I0/dxreg_s_5" BEL "U_1/cpudpath/I0/cxreg_s_0" BEL
        "U_1/cpudpath/I0/dxreg_s_7" BEL "U_1/cpudpath/I0/cxreg_s_1" BEL
        "U_1/cpudpath/I0/dxreg_s_8" BEL "U_1/cpudpath/I0/cxreg_s_2" BEL
        "U_1/cpudpath/I0/dxreg_s_9" BEL "U_1/cpudpath/I0/cxreg_s_3" BEL
        "U_1/cpudpath/I0/cxreg_s_4" BEL "U_1/cpudpath/I0/cxreg_s_5" BEL
        "U_1/cpudpath/I0/cxreg_s_6" BEL "U_1/cpudpath/I0/cxreg_s_7" BEL
        "U_1/cpudpath/I0/bxreg_s_0" BEL "U_1/cpudpath/I0/cxreg_s_8" BEL
        "U_1/cpudpath/I0/bxreg_s_1" BEL "U_1/cpudpath/I0/axreg_s_10" BEL
        "U_1/cpudpath/I0/cxreg_s_9" BEL "U_1/cpudpath/I0/bxreg_s_2" BEL
        "U_1/cpudpath/I0/sireg_s_0" BEL "U_1/cpudpath/I0/sireg_s_1" BEL
        "U_1/cpudpath/I0/sireg_s_2" BEL "U_1/cpudpath/I0/sireg_s_3" BEL
        "U_1/cpudpath/I0/sireg_s_4" BEL "U_1/cpudpath/I0/sireg_s_5" BEL
        "U_1/cpudpath/I0/sireg_s_6" BEL "U_1/cpudpath/I0/sireg_s_7" BEL
        "U_1/cpudpath/I0/sireg_s_8" BEL "U_1/cpudpath/I0/sireg_s_9" BEL
        "U_1/cpudpath/I0/sireg_s_10" BEL "U_1/cpudpath/I0/sireg_s_11" BEL
        "U_1/cpudpath/I0/sireg_s_12" BEL "U_1/cpudpath/I0/sireg_s_13" BEL
        "U_1/cpudpath/I0/sireg_s_14" BEL "U_1/cpudpath/I0/sireg_s_15" BEL
        "U_1/cpudpath/I0/bxreg_s_3" BEL "U_1/cpudpath/I0/axreg_s_11" BEL
        "U_1/cpudpath/I0/bxreg_s_4" BEL "U_1/cpudpath/I0/bpreg_s_0" BEL
        "U_1/cpudpath/I0/bpreg_s_1" BEL "U_1/cpudpath/I0/bpreg_s_2" BEL
        "U_1/cpudpath/I0/bpreg_s_3" BEL "U_1/cpudpath/I0/bpreg_s_4" BEL
        "U_1/cpudpath/I0/bpreg_s_5" BEL "U_1/cpudpath/I0/bpreg_s_6" BEL
        "U_1/cpudpath/I0/bpreg_s_7" BEL "U_1/cpudpath/I0/bpreg_s_8" BEL
        "U_1/cpudpath/I0/bpreg_s_9" BEL "U_1/cpudpath/I0/bpreg_s_10" BEL
        "U_1/cpudpath/I0/bpreg_s_11" BEL "U_1/cpudpath/I0/bpreg_s_12" BEL
        "U_1/cpudpath/I0/bpreg_s_13" BEL "U_1/cpudpath/I0/bpreg_s_14" BEL
        "U_1/cpudpath/I0/bpreg_s_15" BEL "U_1/cpudpath/I0/axreg_s_12" BEL
        "U_1/cpudpath/I0/bxreg_s_5" BEL "U_1/cpudpath/I0/axreg_s_13" BEL
        "U_1/cpudpath/I0/bxreg_s_6" BEL "U_1/cpudpath/I0/bxreg_s_10" BEL
        "U_1/cpudpath/I0/axreg_s_14" BEL "U_1/cpudpath/I0/axreg_s_0" BEL
        "U_1/cpudpath/I0/bxreg_s_7" BEL "U_1/cpudpath/I0/bxreg_s_11" BEL
        "U_1/cpudpath/I0/bxreg_s_8" BEL "U_1/cpudpath/I0/axreg_s_15" BEL
        "U_1/cpudpath/I0/axreg_s_1" BEL "U_1/cpudpath/I0/bxreg_s_12" BEL
        "U_1/cpudpath/I0/axreg_s_2" BEL "U_1/cpudpath/I0/bxreg_s_9" BEL
        "U_1/cpudpath/I0/bxreg_s_13" BEL "U_1/cpudpath/I0/axreg_s_3" BEL
        "U_1/cpudpath/I0/cxreg_s_10" BEL "U_1/cpudpath/I0/bxreg_s_14" BEL
        "U_1/cpudpath/I0/axreg_s_4" BEL "U_1/cpudpath/I0/cxreg_s_11" BEL
        "U_1/cpudpath/I0/bxreg_s_15" BEL "U_1/cpudpath/I0/axreg_s_5" BEL
        "U_1/cpudpath/I0/cxreg_s_12" BEL "U_1/cpudpath/I0/axreg_s_6" BEL
        "U_1/cpudpath/I0/cxreg_s_13" BEL "U_1/cpudpath/I0/cxreg_s_14" BEL
        "U_1/cpudpath/I0/dxreg_s_10" BEL "U_1/cpudpath/I0/axreg_s_7" BEL
        "U_1/cpudpath/I0/dxreg_s_11" BEL "U_1/cpudpath/I0/axreg_s_8" BEL
        "U_1/cpudpath/I0/cxreg_s_15" BEL "U_1/cpudpath/I0/dxreg_s_12" BEL
        "U_1/cpudpath/I0/axreg_s_9" BEL "U_1/cpudpath/I0/spreg_s_0" BEL
        "U_1/cpudpath/I0/spreg_s_1" BEL "U_1/cpudpath/I0/spreg_s_2" BEL
        "U_1/cpudpath/I0/spreg_s_3" BEL "U_1/cpudpath/I0/spreg_s_4" BEL
        "U_1/cpudpath/I0/spreg_s_5" BEL "U_1/cpudpath/I0/spreg_s_6" BEL
        "U_1/cpudpath/I0/spreg_s_7" BEL "U_1/cpudpath/I0/spreg_s_8" BEL
        "U_1/cpudpath/I0/spreg_s_9" BEL "U_1/cpudpath/I0/spreg_s_10" BEL
        "U_1/cpudpath/I0/spreg_s_11" BEL "U_1/cpudpath/I0/spreg_s_12" BEL
        "U_1/cpudpath/I0/spreg_s_13" BEL "U_1/cpudpath/I0/spreg_s_14" BEL
        "U_1/cpudpath/I0/spreg_s_15" BEL "U_1/cpudpath/I0/dxreg_s_13" BEL
        "U_1/cpudpath/I0/dxreg_s_14" BEL "U_1/cpudpath/I0/dxreg_s_15" BEL
        "U_1/cpudpath/I0/dxreg_s_0" BEL "U_1/cpudpath/I0/dxreg_s_1" BEL
        "U_1/cpudpath/I0/dxreg_s_2" BEL "U_1/cpudpath/I0/direg_s_0" BEL
        "U_1/cpudpath/I0/direg_s_1" BEL "U_1/cpudpath/I0/direg_s_2" BEL
        "U_1/cpudpath/I0/direg_s_3" BEL "U_1/cpudpath/I0/direg_s_4" BEL
        "U_1/cpudpath/I0/direg_s_5" BEL "U_1/cpudpath/I0/direg_s_6" BEL
        "U_1/cpudpath/I0/direg_s_7" BEL "U_1/cpudpath/I0/direg_s_8" BEL
        "U_1/cpudpath/I0/direg_s_9" BEL "U_1/cpudpath/I0/direg_s_10" BEL
        "U_1/cpudpath/I0/direg_s_11" BEL "U_1/cpudpath/I0/direg_s_12" BEL
        "U_1/cpudpath/I0/direg_s_13" BEL "U_1/cpudpath/I0/direg_s_14" BEL
        "U_1/cpudpath/I0/direg_s_15" BEL "U_1/cpudpath/I0/dxreg_s_3" BEL
        "U_1/cpudpath/opreg_s_0" BEL "U_1/cpudpath/opreg_s_1" BEL
        "U_1/cpudpath/opflag_s" BEL "U_0/U_0/UART_RX/PE" BEL
        "U_0/U_0/UART_RX/iDOUT_0" BEL "U_0/U_0/UART_RX/iDOUT_1" BEL
        "U_0/U_0/UART_RX/iDOUT_2" BEL "U_0/U_0/UART_RX/iDOUT_3" BEL
        "U_0/U_0/UART_RX/iDOUT_4" BEL "U_0/U_0/UART_RX/iDOUT_5" BEL
        "U_0/U_0/UART_RX/iDOUT_6" BEL "U_0/U_0/UART_RX/iDOUT_7" BEL
        "U_0/U_0/UART_RX/iParityReceived" BEL "U_0/U_0/UART_RX/iBaudStepD" BEL
        "U_0/U_0/UART_RX/iDataCount_0" BEL "U_0/U_0/UART_RX/iDataCount_1" BEL
        "U_0/U_0/UART_RX/iDataCount_2" BEL "U_0/U_0/UART_RX/iDataCount_3" BEL
        "U_0/U_0/UART_RX/CState_FSM_FFd3" BEL
        "U_0/U_0/UART_RX/CState_FSM_FFd1" BEL
        "U_0/U_0/UART_RX/CState_FSM_FFd2" BEL
        "U_0/U_0/UART_RX/RX_BRC/iCounter_4" BEL
        "U_0/U_0/UART_RX/RX_BRC/iCounter_3" BEL
        "U_0/U_0/UART_RX/RX_BRC/iCounter_1" BEL
        "U_0/U_0/UART_RX/RX_BRC/iCounter_0" BEL
        "U_0/U_0/UART_RX/RX_BRC/iCounter_2" BEL
        "U_0/U_0/UART_RX/RX_MVF/iCounter_4" BEL
        "U_0/U_0/UART_RX/RX_MVF/iCounter_3" BEL
        "U_0/U_0/UART_RX/RX_MVF/iCounter_2" BEL
        "U_0/U_0/UART_RX/RX_MVF/iCounter_1" BEL
        "U_0/U_0/UART_RX/RX_MVF/iCounter_0" BEL "U_0/U_0/UART_RX/RX_MVF/iQ"
        BEL "U_0/U_0/UART_IIC/iIIR_3" BEL "U_0/U_0/UART_IIC/iIIR_2" BEL
        "U_0/U_0/UART_IIC/iIIR_1" BEL "U_0/U_0/UART_IIC/iIIR_0" BEL
        "U_0/U_0/UART_TX/iTx2" BEL "U_0/U_0/UART_TX/iFinished" BEL
        "U_0/U_0/UART_TX/iLast" BEL "U_0/U_0/UART_TX/CState_FSM_FFd1" BEL
        "U_0/U_0/UART_TX/CState_FSM_FFd2" BEL
        "U_0/U_0/UART_TX/CState_FSM_FFd3" BEL
        "U_0/U_0/UART_TX/CState_FSM_FFd4" BEL "U_0/U_0/UART_RXFF/Q_0" BEL
        "U_0/U_0/UART_RXFF/Q_1" BEL "U_0/U_0/UART_RXFF/Q_2" BEL
        "U_0/U_0/UART_RXFF/Q_3" BEL "U_0/U_0/UART_RXFF/Q_4" BEL
        "U_0/U_0/UART_RXFF/Q_5" BEL "U_0/U_0/UART_RXFF/Q_6" BEL
        "U_0/U_0/UART_RXFF/Q_7" BEL "U_0/U_0/UART_RXFF/Q_8" BEL
        "U_0/U_0/UART_RXFF/Q_9" BEL "U_0/U_0/UART_RXFF/Q_10" BEL
        "U_0/U_0/UART_RXFF/iEMPTY" BEL
        "U_0/U_0/UART_RXFF/Mram_iFIFOMem1.SLICEM_F" BEL
        "U_0/U_0/UART_RXFF/Mram_iFIFOMem1.SLICEM_G" BEL
        "U_0/U_0/UART_RXFF/Mram_iFIFOMem2.SLICEM_F" BEL
        "U_0/U_0/UART_RXFF/Mram_iFIFOMem2.SLICEM_G" BEL
        "U_0/U_0/UART_RXFF/Mram_iFIFOMem3.SLICEM_F" BEL
        "U_0/U_0/UART_RXFF/Mram_iFIFOMem3.SLICEM_G" BEL
        "U_0/U_0/UART_RXFF/Mram_iFIFOMem4.SLICEM_F" BEL
        "U_0/U_0/UART_RXFF/Mram_iFIFOMem4.SLICEM_G" BEL
        "U_0/U_0/UART_RXFF/Mram_iFIFOMem5.SLICEM_F" BEL
        "U_0/U_0/UART_RXFF/Mram_iFIFOMem5.SLICEM_G" BEL
        "U_0/U_0/UART_RXFF/Mram_iFIFOMem6.SLICEM_F" BEL
        "U_0/U_0/UART_RXFF/Mram_iFIFOMem6.SLICEM_G" BEL
        "U_0/U_0/UART_RXFF/Mram_iFIFOMem7.SLICEM_F" BEL
        "U_0/U_0/UART_RXFF/Mram_iFIFOMem7.SLICEM_G" BEL
        "U_0/U_0/UART_RXFF/Mram_iFIFOMem8.SLICEM_F" BEL
        "U_0/U_0/UART_RXFF/Mram_iFIFOMem8.SLICEM_G" BEL
        "U_0/U_0/UART_RXFF/Mram_iFIFOMem9.SLICEM_F" BEL
        "U_0/U_0/UART_RXFF/Mram_iFIFOMem9.SLICEM_G" BEL
        "U_0/U_0/UART_RXFF/Mram_iFIFOMem10.SLICEM_F" BEL
        "U_0/U_0/UART_RXFF/Mram_iFIFOMem10.SLICEM_G" BEL
        "U_0/U_0/UART_RXFF/Mram_iFIFOMem11.SLICEM_F" BEL
        "U_0/U_0/UART_RXFF/Mram_iFIFOMem11.SLICEM_G" BEL
        "U_0/U_0/UART_RXFF/Mram_iFIFOMem12.SLICEM_F" BEL
        "U_0/U_0/UART_RXFF/Mram_iFIFOMem12.SLICEM_G" BEL
        "U_0/U_0/UART_RXFF/Mram_iFIFOMem13.SLICEM_F" BEL
        "U_0/U_0/UART_RXFF/Mram_iFIFOMem13.SLICEM_G" BEL
        "U_0/U_0/UART_RXFF/Mram_iFIFOMem14.SLICEM_F" BEL
        "U_0/U_0/UART_RXFF/Mram_iFIFOMem14.SLICEM_G" BEL
        "U_0/U_0/UART_RXFF/Mram_iFIFOMem15.SLICEM_F" BEL
        "U_0/U_0/UART_RXFF/Mram_iFIFOMem15.SLICEM_G" BEL
        "U_0/U_0/UART_RXFF/Mram_iFIFOMem16.SLICEM_F" BEL
        "U_0/U_0/UART_RXFF/Mram_iFIFOMem16.SLICEM_G" BEL
        "U_0/U_0/UART_RXFF/Mram_iFIFOMem17.SLICEM_F" BEL
        "U_0/U_0/UART_RXFF/Mram_iFIFOMem17.SLICEM_G" BEL
        "U_0/U_0/UART_RXFF/Mram_iFIFOMem18.SLICEM_F" BEL
        "U_0/U_0/UART_RXFF/Mram_iFIFOMem18.SLICEM_G" BEL
        "U_0/U_0/UART_RXFF/Mram_iFIFOMem19.SLICEM_F" BEL
        "U_0/U_0/UART_RXFF/Mram_iFIFOMem19.SLICEM_G" BEL
        "U_0/U_0/UART_RXFF/Mram_iFIFOMem20.SLICEM_F" BEL
        "U_0/U_0/UART_RXFF/Mram_iFIFOMem20.SLICEM_G" BEL
        "U_0/U_0/UART_RXFF/Mram_iFIFOMem21.SLICEM_F" BEL
        "U_0/U_0/UART_RXFF/Mram_iFIFOMem21.SLICEM_G" BEL
        "U_0/U_0/UART_RXFF/Mram_iFIFOMem22.SLICEM_F" BEL
        "U_0/U_0/UART_RXFF/Mram_iFIFOMem22.SLICEM_G" BEL
        "U_0/U_0/UART_RXFF/Mram_iFIFOMem25.SLICEM_F" BEL
        "U_0/U_0/UART_RXFF/Mram_iFIFOMem25.SLICEM_G" BEL
        "U_0/U_0/UART_RXFF/Mram_iFIFOMem23.SLICEM_F" BEL
        "U_0/U_0/UART_RXFF/Mram_iFIFOMem23.SLICEM_G" BEL
        "U_0/U_0/UART_RXFF/Mram_iFIFOMem24.SLICEM_F" BEL
        "U_0/U_0/UART_RXFF/Mram_iFIFOMem24.SLICEM_G" BEL
        "U_0/U_0/UART_RXFF/Mram_iFIFOMem26.SLICEM_F" BEL
        "U_0/U_0/UART_RXFF/Mram_iFIFOMem26.SLICEM_G" BEL
        "U_0/U_0/UART_RXFF/Mram_iFIFOMem27.SLICEM_F" BEL
        "U_0/U_0/UART_RXFF/Mram_iFIFOMem27.SLICEM_G" BEL
        "U_0/U_0/UART_RXFF/Mram_iFIFOMem28.SLICEM_F" BEL
        "U_0/U_0/UART_RXFF/Mram_iFIFOMem28.SLICEM_G" BEL
        "U_0/U_0/UART_RXFF/Mram_iFIFOMem29.SLICEM_F" BEL
        "U_0/U_0/UART_RXFF/Mram_iFIFOMem29.SLICEM_G" BEL
        "U_0/U_0/UART_RXFF/Mram_iFIFOMem30.SLICEM_F" BEL
        "U_0/U_0/UART_RXFF/Mram_iFIFOMem30.SLICEM_G" BEL
        "U_0/U_0/UART_RXFF/Mram_iFIFOMem31.SLICEM_F" BEL
        "U_0/U_0/UART_RXFF/Mram_iFIFOMem31.SLICEM_G" BEL
        "U_0/U_0/UART_RXFF/Mram_iFIFOMem32.SLICEM_F" BEL
        "U_0/U_0/UART_RXFF/Mram_iFIFOMem32.SLICEM_G" BEL
        "U_0/U_0/UART_RXFF/Mram_iFIFOMem33.SLICEM_F" BEL
        "U_0/U_0/UART_RXFF/Mram_iFIFOMem33.SLICEM_G" BEL
        "U_0/U_0/UART_RXFF/Mram_iFIFOMem34.SLICEM_F" BEL
        "U_0/U_0/UART_RXFF/Mram_iFIFOMem34.SLICEM_G" BEL
        "U_0/U_0/UART_RXFF/Mram_iFIFOMem35.SLICEM_F" BEL
        "U_0/U_0/UART_RXFF/Mram_iFIFOMem35.SLICEM_G" BEL
        "U_0/U_0/UART_RXFF/Mram_iFIFOMem36.SLICEM_F" BEL
        "U_0/U_0/UART_RXFF/Mram_iFIFOMem36.SLICEM_G" BEL
        "U_0/U_0/UART_RXFF/Mram_iFIFOMem37.SLICEM_F" BEL
        "U_0/U_0/UART_RXFF/Mram_iFIFOMem37.SLICEM_G" BEL
        "U_0/U_0/UART_RXFF/Mram_iFIFOMem40.SLICEM_F" BEL
        "U_0/U_0/UART_RXFF/Mram_iFIFOMem40.SLICEM_G" BEL
        "U_0/U_0/UART_RXFF/Mram_iFIFOMem38.SLICEM_F" BEL
        "U_0/U_0/UART_RXFF/Mram_iFIFOMem38.SLICEM_G" BEL
        "U_0/U_0/UART_RXFF/Mram_iFIFOMem39.SLICEM_F" BEL
        "U_0/U_0/UART_RXFF/Mram_iFIFOMem39.SLICEM_G" BEL
        "U_0/U_0/UART_RXFF/Mram_iFIFOMem41.SLICEM_F" BEL
        "U_0/U_0/UART_RXFF/Mram_iFIFOMem41.SLICEM_G" BEL
        "U_0/U_0/UART_RXFF/Mram_iFIFOMem42.SLICEM_F" BEL
        "U_0/U_0/UART_RXFF/Mram_iFIFOMem42.SLICEM_G" BEL
        "U_0/U_0/UART_RXFF/Mram_iFIFOMem43.SLICEM_F" BEL
        "U_0/U_0/UART_RXFF/Mram_iFIFOMem43.SLICEM_G" BEL
        "U_0/U_0/UART_RXFF/Mram_iFIFOMem44.SLICEM_F" BEL
        "U_0/U_0/UART_RXFF/Mram_iFIFOMem44.SLICEM_G" BEL
        "U_0/U_0/UART_RXFF/iUSAGE_0" BEL "U_0/U_0/UART_RXFF/iUSAGE_1" BEL
        "U_0/U_0/UART_RXFF/iUSAGE_2" BEL "U_0/U_0/UART_RXFF/iUSAGE_3" BEL
        "U_0/U_0/UART_RXFF/iUSAGE_4" BEL "U_0/U_0/UART_RXFF/iUSAGE_5" BEL
        "U_0/U_0/UART_RXFF/iWRAddr_0" BEL "U_0/U_0/UART_RXFF/iWRAddr_1" BEL
        "U_0/U_0/UART_RXFF/iWRAddr_2" BEL "U_0/U_0/UART_RXFF/iWRAddr_3" BEL
        "U_0/U_0/UART_RXFF/iWRAddr_4" BEL "U_0/U_0/UART_RXFF/iWRAddr_5" BEL
        "U_0/U_0/UART_RXFF/iWRAddr_6" BEL "U_0/U_0/UART_RXFF/iRDAddr_0" BEL
        "U_0/U_0/UART_RXFF/iRDAddr_1" BEL "U_0/U_0/UART_RXFF/iRDAddr_2" BEL
        "U_0/U_0/UART_RXFF/iRDAddr_3" BEL "U_0/U_0/UART_RXFF/iRDAddr_4" BEL
        "U_0/U_0/UART_RXFF/iRDAddr_5" BEL "U_0/U_0/UART_RXFF/iRDAddr_6" BEL
        "U_0/U_0/UART_TXFF/Q_0" BEL "U_0/U_0/UART_TXFF/Q_1" BEL
        "U_0/U_0/UART_TXFF/Q_2" BEL "U_0/U_0/UART_TXFF/Q_3" BEL
        "U_0/U_0/UART_TXFF/Q_4" BEL "U_0/U_0/UART_TXFF/Q_5" BEL
        "U_0/U_0/UART_TXFF/Q_6" BEL "U_0/U_0/UART_TXFF/Q_7" BEL
        "U_0/U_0/UART_TXFF/iEMPTY" BEL
        "U_0/U_0/UART_TXFF/Mram_iFIFOMem3.SLICEM_F" BEL
        "U_0/U_0/UART_TXFF/Mram_iFIFOMem3.SLICEM_G" BEL
        "U_0/U_0/UART_TXFF/Mram_iFIFOMem1.SLICEM_F" BEL
        "U_0/U_0/UART_TXFF/Mram_iFIFOMem1.SLICEM_G" BEL
        "U_0/U_0/UART_TXFF/Mram_iFIFOMem2.SLICEM_F" BEL
        "U_0/U_0/UART_TXFF/Mram_iFIFOMem2.SLICEM_G" BEL
        "U_0/U_0/UART_TXFF/Mram_iFIFOMem6.SLICEM_F" BEL
        "U_0/U_0/UART_TXFF/Mram_iFIFOMem6.SLICEM_G" BEL
        "U_0/U_0/UART_TXFF/Mram_iFIFOMem4.SLICEM_F" BEL
        "U_0/U_0/UART_TXFF/Mram_iFIFOMem4.SLICEM_G" BEL
        "U_0/U_0/UART_TXFF/Mram_iFIFOMem5.SLICEM_F" BEL
        "U_0/U_0/UART_TXFF/Mram_iFIFOMem5.SLICEM_G" BEL
        "U_0/U_0/UART_TXFF/Mram_iFIFOMem9.SLICEM_F" BEL
        "U_0/U_0/UART_TXFF/Mram_iFIFOMem9.SLICEM_G" BEL
        "U_0/U_0/UART_TXFF/Mram_iFIFOMem7.SLICEM_F" BEL
        "U_0/U_0/UART_TXFF/Mram_iFIFOMem7.SLICEM_G" BEL
        "U_0/U_0/UART_TXFF/Mram_iFIFOMem8.SLICEM_F" BEL
        "U_0/U_0/UART_TXFF/Mram_iFIFOMem8.SLICEM_G" BEL
        "U_0/U_0/UART_TXFF/Mram_iFIFOMem12.SLICEM_F" BEL
        "U_0/U_0/UART_TXFF/Mram_iFIFOMem12.SLICEM_G" BEL
        "U_0/U_0/UART_TXFF/Mram_iFIFOMem10.SLICEM_F" BEL
        "U_0/U_0/UART_TXFF/Mram_iFIFOMem10.SLICEM_G" BEL
        "U_0/U_0/UART_TXFF/Mram_iFIFOMem11.SLICEM_F" BEL
        "U_0/U_0/UART_TXFF/Mram_iFIFOMem11.SLICEM_G" BEL
        "U_0/U_0/UART_TXFF/Mram_iFIFOMem15.SLICEM_F" BEL
        "U_0/U_0/UART_TXFF/Mram_iFIFOMem15.SLICEM_G" BEL
        "U_0/U_0/UART_TXFF/Mram_iFIFOMem13.SLICEM_F" BEL
        "U_0/U_0/UART_TXFF/Mram_iFIFOMem13.SLICEM_G" BEL
        "U_0/U_0/UART_TXFF/Mram_iFIFOMem14.SLICEM_F" BEL
        "U_0/U_0/UART_TXFF/Mram_iFIFOMem14.SLICEM_G" BEL
        "U_0/U_0/UART_TXFF/Mram_iFIFOMem16.SLICEM_F" BEL
        "U_0/U_0/UART_TXFF/Mram_iFIFOMem16.SLICEM_G" BEL
        "U_0/U_0/UART_TXFF/Mram_iFIFOMem17.SLICEM_F" BEL
        "U_0/U_0/UART_TXFF/Mram_iFIFOMem17.SLICEM_G" BEL
        "U_0/U_0/UART_TXFF/Mram_iFIFOMem20.SLICEM_F" BEL
        "U_0/U_0/UART_TXFF/Mram_iFIFOMem20.SLICEM_G" BEL
        "U_0/U_0/UART_TXFF/Mram_iFIFOMem18.SLICEM_F" BEL
        "U_0/U_0/UART_TXFF/Mram_iFIFOMem18.SLICEM_G" BEL
        "U_0/U_0/UART_TXFF/Mram_iFIFOMem19.SLICEM_F" BEL
        "U_0/U_0/UART_TXFF/Mram_iFIFOMem19.SLICEM_G" BEL
        "U_0/U_0/UART_TXFF/Mram_iFIFOMem23.SLICEM_F" BEL
        "U_0/U_0/UART_TXFF/Mram_iFIFOMem23.SLICEM_G" BEL
        "U_0/U_0/UART_TXFF/Mram_iFIFOMem21.SLICEM_F" BEL
        "U_0/U_0/UART_TXFF/Mram_iFIFOMem21.SLICEM_G" BEL
        "U_0/U_0/UART_TXFF/Mram_iFIFOMem22.SLICEM_F" BEL
        "U_0/U_0/UART_TXFF/Mram_iFIFOMem22.SLICEM_G" BEL
        "U_0/U_0/UART_TXFF/Mram_iFIFOMem26.SLICEM_F" BEL
        "U_0/U_0/UART_TXFF/Mram_iFIFOMem26.SLICEM_G" BEL
        "U_0/U_0/UART_TXFF/Mram_iFIFOMem24.SLICEM_F" BEL
        "U_0/U_0/UART_TXFF/Mram_iFIFOMem24.SLICEM_G" BEL
        "U_0/U_0/UART_TXFF/Mram_iFIFOMem25.SLICEM_F" BEL
        "U_0/U_0/UART_TXFF/Mram_iFIFOMem25.SLICEM_G" BEL
        "U_0/U_0/UART_TXFF/Mram_iFIFOMem29.SLICEM_F" BEL
        "U_0/U_0/UART_TXFF/Mram_iFIFOMem29.SLICEM_G" BEL
        "U_0/U_0/UART_TXFF/Mram_iFIFOMem27.SLICEM_F" BEL
        "U_0/U_0/UART_TXFF/Mram_iFIFOMem27.SLICEM_G" BEL
        "U_0/U_0/UART_TXFF/Mram_iFIFOMem28.SLICEM_F" BEL
        "U_0/U_0/UART_TXFF/Mram_iFIFOMem28.SLICEM_G" BEL
        "U_0/U_0/UART_TXFF/Mram_iFIFOMem32.SLICEM_F" BEL
        "U_0/U_0/UART_TXFF/Mram_iFIFOMem32.SLICEM_G" BEL
        "U_0/U_0/UART_TXFF/Mram_iFIFOMem30.SLICEM_F" BEL
        "U_0/U_0/UART_TXFF/Mram_iFIFOMem30.SLICEM_G" BEL
        "U_0/U_0/UART_TXFF/Mram_iFIFOMem31.SLICEM_F" BEL
        "U_0/U_0/UART_TXFF/Mram_iFIFOMem31.SLICEM_G" BEL
        "U_0/U_0/UART_TXFF/iUSAGE_0" BEL "U_0/U_0/UART_TXFF/iUSAGE_1" BEL
        "U_0/U_0/UART_TXFF/iUSAGE_2" BEL "U_0/U_0/UART_TXFF/iUSAGE_3" BEL
        "U_0/U_0/UART_TXFF/iUSAGE_4" BEL "U_0/U_0/UART_TXFF/iWRAddr_0" BEL
        "U_0/U_0/UART_TXFF/iWRAddr_1" BEL "U_0/U_0/UART_TXFF/iWRAddr_2" BEL
        "U_0/U_0/UART_TXFF/iWRAddr_3" BEL "U_0/U_0/UART_TXFF/iWRAddr_4" BEL
        "U_0/U_0/UART_TXFF/iWRAddr_5" BEL "U_0/U_0/UART_TXFF/iWRAddr_6" BEL
        "U_0/U_0/UART_TXFF/iRDAddr_0" BEL "U_0/U_0/UART_TXFF/iRDAddr_1" BEL
        "U_0/U_0/UART_TXFF/iRDAddr_2" BEL "U_0/U_0/UART_TXFF/iRDAddr_3" BEL
        "U_0/U_0/UART_TXFF/iRDAddr_4" BEL "U_0/U_0/UART_TXFF/iRDAddr_5" BEL
        "U_0/U_0/UART_TXFF/iRDAddr_6" BEL "U_0/U_0/UART_BG16/iCounter_15" BEL
        "U_0/U_0/UART_BG16/iCounter_14" BEL "U_0/U_0/UART_BG16/iCounter_13"
        BEL "U_0/U_0/UART_BG16/iCounter_12" BEL
        "U_0/U_0/UART_BG16/iCounter_11" BEL "U_0/U_0/UART_BG16/iCounter_10"
        BEL "U_0/U_0/UART_BG16/iCounter_9" BEL "U_0/U_0/UART_BG16/iCounter_8"
        BEL "U_0/U_0/UART_BG16/iCounter_7" BEL "U_0/U_0/UART_BG16/iCounter_6"
        BEL "U_0/U_0/UART_BG16/iCounter_5" BEL "U_0/U_0/UART_BG16/iCounter_4"
        BEL "U_0/U_0/UART_BG16/iCounter_3" BEL "U_0/U_0/UART_BG16/iCounter_2"
        BEL "U_0/U_0/UART_BG16/iCounter_1" BEL "U_0/U_0/UART_BG16/iCounter_0"
        BEL "U_0/U_0/UART_IF_CTS/iCount_1" BEL "U_0/U_0/UART_IF_CTS/iCount_0"
        BEL "U_0/U_0/UART_BG2/iCounter_2" BEL "U_0/U_0/UART_BG2/iCounter_1"
        BEL "U_0/U_0/UART_BG2/iCounter_0" BEL "U_0/U_0/UART_IF_DSR/iCount_1"
        BEL "U_0/U_0/UART_IF_DSR/iCount_0" BEL "U_0/U_0/UART_IF_DCD/iCount_1"
        BEL "U_0/U_0/UART_IF_DCD/iCount_0" BEL "U_0/U_0/UART_IF_RI/iCount_1"
        BEL "U_0/U_0/UART_IF_RI/iCount_0" BEL "U_0/U_0/iFECounter_6" BEL
        "U_0/U_0/iFECounter_5" BEL "U_0/U_0/iFECounter_4" BEL
        "U_0/U_0/iFECounter_3" BEL "U_0/U_0/iFECounter_2" BEL
        "U_0/U_0/iFECounter_1" BEL "U_0/U_0/iFECounter_0" BEL
        "U_0/U_0/iTimeoutCount_5" BEL "U_0/U_0/iTimeoutCount_4" BEL
        "U_0/U_0/iTimeoutCount_3" BEL "U_0/U_0/iTimeoutCount_2" BEL
        "U_0/U_0/iTimeoutCount_1" BEL "U_0/U_0/iTimeoutCount_0" BEL
        "U_0/U_0/UART_BG2/iQ" BEL "U_0/U_0/UART_BG16/BAUDTICK" BEL
        "U_0/U_0/UART_IF_CTS/Q" BEL "U_0/U_0/UART_IF_DSR/Q" BEL
        "U_0/U_0/UART_IF_DCD/Q" BEL "U_0/U_0/UART_IF_RI/Q" BEL
        "U_0/U_0/UART_IS_SIN/iD_0" BEL "U_0/U_0/UART_IS_SIN/iD_1" BEL
        "U_0/U_0/UART_IS_CTS/iD_0" BEL "U_0/U_0/UART_IS_CTS/iD_1" BEL
        "U_0/U_0/UART_ED_WRITE/iDd" BEL "U_0/U_0/UART_ED_READ/iDd" BEL
        "U_0/U_0/UART_IIC_THRE_ED/iDd" BEL "U_0/U_0/UART_PEDET/iDd" BEL
        "U_0/U_0/UART_FEDET/iDd" BEL "U_0/U_0/UART_BIDET/iDd" BEL
        "U_0/U_0/UART_ED_CTS/iDd" BEL "U_0/U_0/UART_ED_DSR/iDd" BEL
        "U_0/U_0/UART_ED_RI/iDd" BEL "U_0/U_0/UART_ED_DCD/iDd" BEL
        "U_0/U_0/UART_RCLK/iDd" BEL "U_0/U_0/State_FSM_FFd1" BEL
        "U_0/U_0/State_FSM_FFd2" BEL "U_0/U_0/iTXFIFORead" BEL
        "U_0/U_0/iTXRunning" BEL "U_0/U_0/iRXFIFOD_10" BEL
        "U_0/U_0/iRXFIFOD_9" BEL "U_0/U_0/iRXFIFOD_8" BEL "U_0/U_0/iRXFIFOD_7"
        BEL "U_0/U_0/iRXFIFOD_6" BEL "U_0/U_0/iRXFIFOD_5" BEL
        "U_0/U_0/iRXFIFOD_4" BEL "U_0/U_0/iRXFIFOD_3" BEL "U_0/U_0/iRXFIFOD_2"
        BEL "U_0/U_0/iRXFIFOD_1" BEL "U_0/U_0/iRXFIFOD_0" BEL "U_0/U_0/iMCR_5"
        BEL "U_0/U_0/iMCR_4" BEL "U_0/U_0/iSCR_7" BEL "U_0/U_0/iSCR_6" BEL
        "U_0/U_0/iSCR_5" BEL "U_0/U_0/iSCR_4" BEL "U_0/U_0/iSCR_3" BEL
        "U_0/U_0/iSCR_2" BEL "U_0/U_0/iSCR_1" BEL "U_0/U_0/iSCR_0" BEL
        "U_0/U_0/iMCR_3" BEL "U_0/U_0/iMCR_2" BEL "U_0/U_0/iMCR_1" BEL
        "U_0/U_0/iLSR_PE" BEL "U_0/U_0/iMCR_0" BEL "U_0/U_0/iFCR_FIFO64E" BEL
        "U_0/U_0/iFCR_FIFOEnable" BEL "U_0/U_0/iIER_3" BEL "U_0/U_0/iLSR_FE"
        BEL "U_0/U_0/iIER_2" BEL "U_0/U_0/iIER_1" BEL "U_0/U_0/iIER_0" BEL
        "U_0/U_0/iLSR_BI" BEL "U_0/U_0/iFCR_RXTrigger_1" BEL
        "U_0/U_0/iFCR_RXTrigger_0" BEL "U_0/U_0/iDLM_7" BEL "U_0/U_0/iDLM_6"
        BEL "U_0/U_0/iDLM_5" BEL "U_0/U_0/iDLM_4" BEL "U_0/U_0/iDLM_3" BEL
        "U_0/U_0/iDLM_2" BEL "U_0/U_0/iDLM_1" BEL "U_0/U_0/iDLM_0" BEL
        "U_0/U_0/iDLL_7" BEL "U_0/U_0/iDLL_6" BEL "U_0/U_0/iDLL_5" BEL
        "U_0/U_0/iDLL_4" BEL "U_0/U_0/iDLL_3" BEL "U_0/U_0/iDLL_2" BEL
        "U_0/U_0/iDLL_1" BEL "U_0/U_0/iDLL_0" BEL "U_0/U_0/iLCR_7" BEL
        "U_0/U_0/iLCR_6" BEL "U_0/U_0/iLCR_5" BEL "U_0/U_0/iLCR_4" BEL
        "U_0/U_0/iLCR_3" BEL "U_0/U_0/iLCR_2" BEL "U_0/U_0/iLCR_1" BEL
        "U_0/U_0/iLCR_0" BEL "U_0/U_0/iMSR_TERI" BEL
        "U_0/U_0/iFCR_TXFIFOReset" BEL "U_0/U_0/BAUDOUTN" BEL
        "U_0/U_0/iMSR_dDCD" BEL "U_0/U_0/iLSR_OE" BEL "U_0/U_0/iRXFIFOClear"
        BEL "U_0/U_0/iCharTimeout" BEL "U_0/U_0/iTHRInterrupt" BEL
        "U_0/U_0/iFCR_RXFIFOReset" BEL "U_0/U_0/iTXStart" BEL "U_0/U_0/SOUT"
        BEL "U_0/U_0/RTSN" BEL "U_0/U_0/OUT2N" BEL "U_0/U_0/iTSR_7" BEL
        "U_0/U_0/iTSR_6" BEL "U_0/U_0/iTSR_5" BEL "U_0/U_0/iTSR_4" BEL
        "U_0/U_0/iTSR_3" BEL "U_0/U_0/iTSR_2" BEL "U_0/U_0/iTSR_1" BEL
        "U_0/U_0/iTSR_0" BEL "U_0/U_0/OUT1N" BEL "U_0/U_0/iRXFIFOWrite" BEL
        "U_0/U_0/State0_0" BEL "U_0/U_0/iMSR_dDSR" BEL "U_0/U_0/iRTS" BEL
        "U_0/U_0/iMSR_dCTS" BEL "U_0/U_0/iLSR_FIFOERR" BEL "U_0/U_0/iDIN_7"
        BEL "U_0/U_0/iDIN_6" BEL "U_0/U_0/iDIN_5" BEL "U_0/U_0/iDIN_4" BEL
        "U_0/U_0/iDIN_3" BEL "U_0/U_0/iDIN_2" BEL "U_0/U_0/iDIN_1" BEL
        "U_0/U_0/iDIN_0" BEL "U_0/U_0/iA_2" BEL "U_0/U_0/iA_1" BEL
        "U_0/U_0/iA_0" BEL "U_1/cpuproc/proc_err_s" BEL
        "U_1/cpubiu/shift/reg72_s_64_1" BEL "U_1/cpubiu/shift/reg72_s_66_1"
        BEL "U_1/cpuproc/path.alu_operation_0_1" BEL
        "U_1/cpubiu/shift/reg72_s_69_1" BEL
        "U_1/cpuproc/path.alu_operation_4_1" BEL
        "U_1/cpuproc/path.alu_operation_10_1" BEL
        "U_1/cpuproc/path.alu_operation_5_1" BEL
        "U_1/cpubiu/shift/reg72_s_70_1" BEL "U_1/cpubiu/shift/reg72_s_67_1"
        BEL "U_1/cpuproc/path.alu_operation_1_1" BEL
        "U_1/cpuproc/path.alu_operation_11_1" BEL
        "U_1/cpuproc/path.alu_operation_12_1" BEL "U_1/reset_1" BEL
        "U_1/resoutn_1" BEL
        "U_3/BU2/U0/blk_mem_generator/valid.cstr/has_mux_a.A/sel_pipe_0" BEL
        "U_3/BU2/U0/blk_mem_generator/valid.cstr/has_mux_a.A/sel_pipe_1" BEL
        "U_3/BU2/U0/blk_mem_generator/valid.cstr/has_mux_a.A/sel_pipe_2" PIN
        "U_3/BU2/U0/blk_mem_generator/valid.cstr/ramloop[19].ram.r/s3_init.ram/dpram.dp1x1.ram.A_pins<15>"
        PIN
        "U_3/BU2/U0/blk_mem_generator/valid.cstr/ramloop[18].ram.r/s3_init.ram/dpram.dp1x1.ram.A_pins<15>"
        PIN
        "U_3/BU2/U0/blk_mem_generator/valid.cstr/ramloop[17].ram.r/s3_init.ram/dpram.dp2x2.ram.A_pins<14>"
        PIN
        "U_3/BU2/U0/blk_mem_generator/valid.cstr/ramloop[16].ram.r/s3_init.ram/dpram.dp1x1.ram.A_pins<15>"
        PIN
        "U_3/BU2/U0/blk_mem_generator/valid.cstr/ramloop[15].ram.r/s3_init.ram/dpram.dp1x1.ram.A_pins<15>"
        PIN
        "U_3/BU2/U0/blk_mem_generator/valid.cstr/ramloop[14].ram.r/s3_init.ram/dpram.dp1x1.ram.A_pins<15>"
        PIN
        "U_3/BU2/U0/blk_mem_generator/valid.cstr/ramloop[13].ram.r/s3_init.ram/dpram.dp1x1.ram.A_pins<15>"
        PIN
        "U_3/BU2/U0/blk_mem_generator/valid.cstr/ramloop[12].ram.r/s3_init.ram/dpram.dp2x2.ram.A_pins<14>"
        PIN
        "U_3/BU2/U0/blk_mem_generator/valid.cstr/ramloop[11].ram.r/s3_init.ram/dpram.dp1x1.ram.A_pins<15>"
        PIN
        "U_3/BU2/U0/blk_mem_generator/valid.cstr/ramloop[10].ram.r/s3_init.ram/dpram.dp1x1.ram.A_pins<15>"
        PIN
        "U_3/BU2/U0/blk_mem_generator/valid.cstr/ramloop[9].ram.r/s3_init.ram/dpram.dp1x1.ram.A_pins<15>"
        PIN
        "U_3/BU2/U0/blk_mem_generator/valid.cstr/ramloop[8].ram.r/s3_init.ram/dpram.dp1x1.ram.A_pins<15>"
        PIN
        "U_3/BU2/U0/blk_mem_generator/valid.cstr/ramloop[7].ram.r/s3_init.ram/dpram.dp2x2.ram.A_pins<14>"
        PIN
        "U_3/BU2/U0/blk_mem_generator/valid.cstr/ramloop[6].ram.r/s3_init.ram/dpram.dp1x1.ram.A_pins<15>"
        PIN
        "U_3/BU2/U0/blk_mem_generator/valid.cstr/ramloop[5].ram.r/s3_init.ram/dpram.dp1x1.ram.A_pins<15>"
        PIN
        "U_3/BU2/U0/blk_mem_generator/valid.cstr/ramloop[4].ram.r/s3_init.ram/dpram.dp1x1.ram.A_pins<15>"
        PIN
        "U_3/BU2/U0/blk_mem_generator/valid.cstr/ramloop[3].ram.r/s3_init.ram/dpram.dp1x1.ram.A_pins<15>"
        PIN
        "U_3/BU2/U0/blk_mem_generator/valid.cstr/ramloop[2].ram.r/s3_init.ram/dpram.dp2x2.ram.A_pins<14>"
        PIN
        "U_3/BU2/U0/blk_mem_generator/valid.cstr/ramloop[1].ram.r/s3_init.ram/dpram.dp1x1.ram.A_pins<15>"
        PIN
        "U_3/BU2/U0/blk_mem_generator/valid.cstr/ramloop[0].ram.r/s3_init.ram/dpram.dp1x1.ram.A_pins<15>"
        BEL "CLOCK_40MHZ_BUFGP/BUFG.GCLKMUX" BEL "CLOCK_40MHZ_BUFGP/BUFG";
TS_CLOCK_40MHZ = PERIOD TIMEGRP "CLOCK_40MHZ" 25 ns HIGH 50%;
SCHEMATIC END;

